# Get these values from initial Supabase setup or from the Supabase status page for local development. For production, use the values from your hosted Supabase project.

VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PROJECT_ID=
